<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CodeKey" value="{&#xD;&#xA;	 vardecl int x; &#xD;&#xA;	 assign x = 5; &#xD;&#xA;&#xA;&#xD;&#xA;}&#xD;&#xA;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>